@inherits AppCode.Razor.AppRazor

@using AppCode.Data

@{
  var data = As<SourceCode>(MyItem);
  var height = "height: " + (data.Height != 0 ? data.Height + "px;" : "300px;");
}

<div @Kit.Toolbar.Default(MyItem)>
  <h1>@data.Title</h1>
  @* make height work *@
  <div id="container" style="width: 100%; @height"></div> 

  <script src="@App.Folder.Url/dist/scripts.js"></script>
  <link href="@App.Folder.Url/dist/styles.min.css" rel="stylesheet">
  
  @Kit.Page.TurnOn("window.appSourceCode.activeMonacoEditor()",
    data: new {
      value = data.Code,
      language = data.Language,
      automaticLayout = true,
      theme = data.Theme,
      lineNumbers = data.LineNumbers ? "on" : "off",
      fontSize = data.FontSize,
      readOnly = data.ReadOnly,
      minimap = data.Minimap,
    }
  )
</div>
