@inherits AppCode.Razor.AppRazor

@using AppCode.Data

@{
  var data = As<SourceCode>(MyItem);
  var containerHeight = data.Height + "px";
}

<div @Kit.Toolbar.Default(MyItem)>
  <h1>@data.Title</h1>
  <div id="container" style="width: 100%; height: 500px;" />

  <script src="@App.Folder.Url/dist/scripts.js"></script>
  <link href="@App.Folder.Url/dist/styles.min.css" rel="stylesheet">
  
  @Kit.Page.TurnOn("window.appSourceCode.activeMonacoEditor()", data: new {
      value = data.Code,
      language = data.Language,
      automaticLayout = true,
      theme = data.Theme,
      lineNumbers = data.LineNumbers,
      fontSize = data.FontSize,
      readOnly = data.ReadOnly
    }
  )
</div>

<style>
  #container {
    width: 100%;
    height: @containerHeight;
    border: 1px solid #ccc;
  }
</style>